@import "tailwindcss/base";
@import "tailwindcss/components";
@import "tailwindcss/utilities";

#react-select-2-listbox {
  z-index: 9999;
}
.leaflet-bottom,
.leaflet-control,
.leaflet-pane,
.leaflet-top {
  z-index: 0 !important;
}
.rdrMonth {
  width: 100% !important;
}
.rdrCalendarWrapper {
  width: 100% !important;
  font-size: 1rem;
}
.rdrDayToday {
  color: #4ade80 !important;
}
.rdrDayDisabled {
  background: #4ade800f !important;
}

::-webkit-scrollbar {
  width: 10px;
  height: 5px;
}

::-webkit-scrollbar-track {
  background: #fff;
}

::-webkit-scrollbar-thumb {
  background: #00e1ac;
}

.swiper {
  width: 100%;
  height: 100%;
}

.swiper-slide {
  text-align: center;
  font-size: 18px;
  background: #fff;

  /* Center slide text vertically */
  display: flex;
  justify-content: center;
  align-items: center;
}

.swiper-slide img {
  display: block;
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.swiper-wrapper {
  padding: 0 0 80px 0 !important;
}
.swiper-button-next,
.swiper-button-prev {
  background: #1e3a8a !important;
  width: 45px !important;
  height: 45px !important;
  padding: 2px;
  z-index: 100 !important;
}

.swiper-button-next:after,
.swiper-button-prev:after {
  color: white !important;
  font-size: 14px !important;
}
.swiper-button-next {
  right: 0 !important;
}
.swiper-button-prev {
  right: 60px !important;
  left: unset !important;
}
.swiper-button-prev,
.swiper-button-next {
  top: 95% !important;
}

@media screen and (min-width: 2000px) {
  .rdrDayNumber,
  .rdrWeekDay,
  .rdrMonthPicker,
  .rdrYearPicker {
    font-size: 1.2rem !important;
  }
}
@media screen and (max-width: 500px) {
  .swiper-button-next,
  .swiper-button-prev {
    display: none !important;
  }
}
